.header--company{
  -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  background: white;
  z-index: 5;

  @include tablet {
    justify-content: flex-start;
    flex-flow: column;
  }

  &__left-side {
    display: flex;
    flex-flow: row nowrap;
  }

  &__hamburger {
    display: none;
    margin: 8px;
    padding: 8px;
    font-size: 16px;
    background: none;
    cursor: pointer;
    border-radius: 4px;
    border: none;

    @include tablet {
      display: block;
    }

    &:hover {
      -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
      -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
      box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
      transform: scale(1.03)
    }
  }

  &__logo {
    height: 64px;
    width: auto;
    margin: 16px 16px;

    @include mobile {
      margin-left: 16px;
    }
  }

  nav {
    margin: 16px;
    transition: 1s;

    @include tablet {
      display: none;

      button {
        width: 100%;
        margin: 4px 0;
      }
    }

    button{
      font-size: 16px;
      font-family: Roboto, sans-serif;
      border: none;
      height: 100%;
      margin: 0;
      cursor: pointer;
      padding: 8px 16px;
      transition: .1s;
      color: $primary-color;
      text-transform: uppercase;

      &:hover {
        -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
        box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);

        transform: scale(1.03);

        background: #eee;
      }

      &.company-button {
        background: $primary-color;
        color: white;
      }

      &.candidate-button {
        background: $primary-color;
        color: white;
      }
    }
  }
}

.company__section--1{
  margin-top: 64px;
  background: $primary-color;
  -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
  position: relative;

  & .container {
    height: 600px;
  }

  &__text{

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 2;

    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-evenly;

    padding: 0 256px;

    @include mobile {
      flex-basis: 100%;
    }

    h1 {
      font-family: Gidolinya, sans-serif;
      font-size: 48px;
      line-height: 48px;
      text-transform: uppercase;
      color: white;
      text-align: center;

      @include mobile {
        font-size: 32px;
        line-height: 32px;
        text-align: center;
      }
    }

    ul {
      color: white;
      margin-top: 16px;
      font-size: 24px;
      padding: 0;

      @include mobile {
        margin: 32px;
        font-size: 18px;
      }

      li {
        list-style: none;
        letter-spacing: 1px;
        margin-top: 16px;
        padding: 0;

        &::before {
          display: inline-block;
          vertical-align: middle;
          margin-right: 16px;
        }
      }

      & li:nth-child(1)::before {
        content: url('https://empreguei.github.io/assets/svg/clock.svg');
      }

      & li:nth-child(2)::before {
        content: url('https://empreguei.github.io/assets/svg/puzzle.svg');
      }

      & li:nth-child(3)::before {
        content: url('https://empreguei.github.io/assets/svg/chat.svg');
      }

      & li:nth-child(4)::before {
        content: url('https://empreguei.github.io/assets/svg/hand-shake.svg');
      }
    }

    a {
      align-self: center;
      margin: 32px;

      button {
        border-radius: 64px;
        border: none;
        background: white;
        font-size: 24px;
        text-transform: uppercase;
        padding: 32px 64px;
        cursor: pointer;
        transition: .3s;
        color: $primary-color;

        &:hover {
          -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.5);
          -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.5);
          box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.5);
          transform: scale(1.03);
        }
      }
    }
  }

  &__img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 1;

    opacity: 0.8;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.company__section--2{
  display: flex;
  flex-flow: row wrap;

  &__text{
    flex-shrink: 6;
    flex-basis: 55%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: center;

    @include mobile {
      flex-basis: 100%;
    }

    h1 {
      font-family: Gidolinya, sans-serif;
      line-height: 64px;
      text-align: right;
      align-self: center;

      @include mobile {
        text-align: center;
      }
    }

    ul {
      font-size: 24px;

      @include mobile {
        margin: 32px;
      }

      li {
        letter-spacing: 1px;
        margin-top: 16px;
        padding: 0;
        list-style: none;

        &::before {
          display: inline-block;
          vertical-align: middle;
          margin-right: 16px;
        }
      }

      & li:nth-child(1)::before {
        content: url("https://empreguei.github.io/assets/svg/coin.svg");
      }
      & li:nth-child(2)::before {
        content: url("https://empreguei.github.io/assets/svg/no-cv.svg");
      }
      & li:nth-child(3)::before {
        content: url("https://empreguei.github.io/assets/svg/hand-shake--money.svg");
      }
      & li:nth-child(4)::before {
        content: url("https://empreguei.github.io/assets/svg/person--ok.svg");
      }
      & li:nth-child(5)::before {
        content: url("https://empreguei.github.io/assets/svg/building--briefcase.svg");
      }

    }

    a {
      align-self: center;
      margin: 64px;

      button {
        border-radius: 64px;
        border: none;
        background: white;
        font-size: 24px;
        text-transform: uppercase;
        padding: 32px 64px;
        cursor: pointer;
        transition: .3s;
        color: $primary-color;

        &:hover {
          -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.5);
          -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.5);
          box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.5);
          transform: scale(1.03);
        }
      }
    }
  }

  &__image{
    flex-shrink: 4;
    flex-basis: 45%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include mobile {
      justify-content: center;
    }

    img {
      width: 90%;
      height: 90%;
      object-fit: contain;
      object-position: center;
    }

    @include mobile {
      flex-basis: 100%;
    }
  }
}

.company__section--3{
  margin-top: 64px;
  padding-bottom: 64px;
  background: $grey--100;
  -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);

  & .container {
    display: flex;
    flex-flow: row wrap;
  }

  &__text{
    flex-shrink: 6;
    flex-basis: 55%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;

    @include mobile {
      flex-basis: 100%;
    }

    h1 {
      font-family: Gidolinya, sans-serif;
      line-height: 64px;
      align-self: center;

      @include mobile {
        text-align: center;
      }
    }

    ul {
      font-size: 24px;

      @include mobile {
        margin: 32px;
      }

      li {
        letter-spacing: 1px;
        margin-top: 16px;
        padding: 0;
        list-style: none;

        &::before {
          display: inline-block;
          vertical-align: middle;
          margin-right: 16px;
        }
      }

      & li:nth-child(1)::before {
        content: url("https://empreguei.github.io/assets/svg/coin.svg");
      }
      & li:nth-child(2)::before {
        content: url("https://empreguei.github.io/assets/svg/no-cv.svg");
      }
      & li:nth-child(3)::before {
        content: url("https://empreguei.github.io/assets/svg/hand-shake--money.svg");
      }
      & li:nth-child(4)::before {
        content: url("https://empreguei.github.io/assets/svg/person--ok.svg");
      }
      & li:nth-child(5)::before {
        content: url("https://empreguei.github.io/assets/svg/building--briefcase.svg");
      }

    }

    a {
      align-self: center;
      margin: 64px;

      button {
        border-radius: 64px;
        border: none;
        background: white;
        font-size: 24px;
        text-transform: uppercase;
        padding: 32px 64px;
        cursor: pointer;
        transition: .3s;
        color: $primary-color;

        &:hover {
          -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.5);
          -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.5);
          box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.5);
          transform: scale(1.03);
        }
      }
    }
  }

  &__image{
    flex-shrink: 4;
    flex-basis: 45%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include mobile {
      justify-content: center;
    }

    img {
      width: 90%;
      height: 90%;
      object-fit: contain;
      object-position: center;
    }

    @include mobile {
      flex-basis: 100%;
    }
  }
}

.company__section--4{
  margin-top: 4px;
  padding-bottom: 64px;
  background: $primary-color;
  -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);

  & * {
    color: $text--on-color;
  }

  & .container {
    display: flex;
    flex-flow: row wrap;
  }

  &__text{
    flex-shrink: 6;
    flex-basis: 55%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;

    @include mobile {
      flex-basis: 100%;
    }

    h1 {
      font-family: Gidolinya, sans-serif;
      line-height: 64px;
      align-self: center;

      @include mobile {
        text-align: center;
      }
    }

    ul {
      font-size: 24px;

      @include mobile {
        margin: 32px;
      }

      li {
        letter-spacing: 1px;
        margin-top: 16px;
        padding: 0;
        list-style: none;

        &::before {
          display: inline-block;
          vertical-align: middle;
          margin-right: 16px;
        }
      }

      & li:nth-child(1)::before {
        content: url("https://empreguei.github.io/assets/svg/person--ok.svg");
      }
      & li:nth-child(2)::before {
        content: url("https://empreguei.github.io/assets/svg/building--briefcase.svg");
      }
      & li:nth-child(3)::before {
        content: url("https://empreguei.github.io/assets/svg/building--briefcase.svg");
      }
      & li:nth-child(4)::before {
        content: url("https://empreguei.github.io/assets/svg/building--briefcase.svg");
      }
      & li:nth-child(5)::before {
        content: url("https://empreguei.github.io/assets/svg/building--briefcase.svg");
      }

    }

    a {
      align-self: center;
      margin: 64px;

      button {
        border-radius: 64px;
        border: none;
        background: white;
        font-size: 24px;
        text-transform: uppercase;
        padding: 32px 64px;
        cursor: pointer;
        transition: .3s;
        color: $primary-color;

        &:hover {
          -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.5);
          -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.5);
          box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.5);
          transform: scale(1.03);
        }
      }
    }
  }

  &__image{
    flex-shrink: 4;
    flex-basis: 45%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include mobile {
      justify-content: center;
    }

    img {
      width: 90%;
      height: 90%;
      object-fit: contain;
      object-position: center;
    }

    @include mobile {
      flex-basis: 100%;
    }
  }
}

.company__section--5{
  position: relative;
  height: 500px;
  background: $primary-color;
  margin-top: 4px;

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 1;

    opacity: 0.8;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .button {
    font-size: 24px;
    text-transform: uppercase;
    background: $primary-color;
    z-index: 2;
    position: absolute;
    padding: 32px;
    color: $text--on-color;
    top: 50%;
    transform: scale(1) translateY(-50%) translateX(-50%);
    transform-origin: center;
    transition: .1s;
    left: 50%;

    &:hover {
      -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
      -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
      box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);

      transform: scale(1.01) translateY(-50%) translateX(-50%);
    }
  }
}

.company__section--6{
  background: $grey--300;

  .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
  }

  &__left {
    ul {
      list-style: none;
      text-align: left;
      margin-bottom: 32px;

      li {
        margin-top: 16px;
        margin-left: -32px;
      }
    }
  }

  &__right {
    h1 {
      text-align: right;
    }

    ul {
      list-style: none;
      text-align: right;
      margin-bottom: 32px;

      li {
        margin-top: 16px;
      }
    }
  }
}

.company__section--7{
  margin-top: 4px;
  padding: 64px 16px;
  -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
  background: $grey--100;

  h1 {
    text-align: center;
  }

  &__news {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 32px;

    &__new {
      display: flex;
      align-items: center;
      flex-flow: column nowrap;
      transition: .3s;
      border: 1px solid $grey--100;
      padding: 16px;
      background: white;
      flex-basis: 20%;
      margin: 8px;

      @include tablet {
        flex-basis: 45%;
      }

      @include mobile {
        flex-basis: 80%;
      }

      &:hover {
        -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
        box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
        border: 1px solid $primary-color;
        transform: scale(1.03);
      }

      img {
        width: 180px;
        height: 180px;

        object-fit: contain;
        object-position: center;
      }

      a {

        button {
          background: $primary-color;
          padding: 16px 32px;
          border-radius: 64px;
          color: white;
          text-transform: uppercase;
          font-size: 16px;
          border: none;
          transition: .3s;
          cursor: pointer;

          &:hover {
            -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
            -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
            box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
            transform: scale(1.03);
          }
        }
      }
    }

  }
}

.footer{
  margin-top: 4px;
  background: $grey--100;

  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

  &__column{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex-basis: 33%;
    justify-content: flex-start;

    @include mobile {
      flex-basis: 90%;
    }

    img, a img {
      width: 200px;
    }

    a {

      i {
        border-radius: 64px;
        transition: .3s;
      }

      &:hover i{
        -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.5);
        transform: scale(1.03)
      }
    }

    &:last-child {
    }

    &--one{
      display: flex;
      flex-flow: column nowrap;

      a {
        button {
          border: none;
          background: $grey--100;
          padding: 8px 0;
          cursor: pointer;
          font-size: 16px;
          font-family: Roboto;
        }
      }
    }
  }
}
