
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Material Colors
$green--700: #388E3C;

$primary-color: #673AB7;
$primary-color--dark: #320b86;
$primary-color--light: #9a67ea;

$secondary-color: #ffab40;
$secondary-color--light: #ffdd71;
$secondary-color--dark: #c77c02;

$text: #212121;
$text--on-color: #fafafa;

// Grays
$grey--100: #F5F5F5;
$grey--300: #E0E0E0;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 900px) {
    @content;
  }
}
